<div class="row">
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">NATNA Ticketing</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a routerLink="/sports">Sports</a></li>
                  <li><a routerLink="/concerts">Concerts</a></li>
                  <li><a routerLink="/theaters">Theater</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-backdrop="static" data-toggle="modal" *ngIf="!signInStatusFromChild" data-target="#signUpModal">Sign in/Register</a></li>
                <li><a href="#" (click)="signOut()" *ngIf="signInStatusFromChild">Sign out ({{username}})</a></li>
              </ul>
          </div>
          <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
  </div>
</div>
<!-- SideBar and Content row-->
<div class="row">
  <!-- SideBar Column -->
    <div class="col-sm-2">
      <ul class="nav sidebar-nav">
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#myTicketsModal">My Tickets</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#myListingModal">My Listings</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#accountSettingsModal">Account Setting</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#paymentOptionModal">Payment Options</a></li>
        <!-- <li class="nav-divider"></li> -->
        <div *ngIf="signedIndRole == 'ADMIN'">
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#associateApprovalModal">Associates Approval</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#eventOwnerApprovalModal">Event Owner Approval</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#eventApprovalModal">Event Approval</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#userRegistrationModal">Add User</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#registerAssociateModal">Register Associate</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#registerEventOwnerModal">Register Event Owner</a></li>
          <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#eventRegistration">Register Event</a></li>
        </div>
      </ul>
    </div>
  <!-- Content Column-->
  <div class="col-lg-10">
    <div class="row search-box">
        <form class="form-group" [formGroup]="formSearch" (ngSubmit)="searchEvents(formSearch.value)">
          <div class="col-lg-3">
            <input type="text" class="form-control" name="searchText" placeholder="Search..." formControlName="searchText">
          </div>
          <div class="col-lg-2">
            <select id="selectedCity" name="selectedCity" class="form-control" formControlName="selectedCity">
              <option value="all" selected>All Cities</option>
              <option value="alamata">Alamata</option>
              <option value="adigrat">Adigrat</option>
              <option value="maichew">Maichew</option>
            </select> 
          </div>
          <div class="col-lg-2">
            <select id="event" name="searchEventType" class="form-control" formControlName="searchEventType">
              <option value="all" selected>All events</option>
              <option value="sports">Sports</option>
              <option value="concerts">Concerts</option>
              <option value="theatres">Theater</option>
          </select>
        </div>
        <div class="col-lg-2">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name="searchEventDate" formControlName="searchEventDate"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="col-lg-1">
          <button type="submit" class="btn btn-info form-control">Search</button>
        </div>
        </form>
    </div>
  <div class="row">
    <router-outlet style="text-align: center;"></router-outlet>
    <service-signup (loggedInInfo)="setSignInMessages($event)"></service-signup>
    <event-ticket></event-ticket>
    <event-mylisting></event-mylisting>
    <event-payment-option></event-payment-option>
    <event-associate-approval></event-associate-approval>
    <event-owner-approval></event-owner-approval>
    <event-approval></event-approval>
    <event-registration></event-registration>
    <account-settings></account-settings>
    <forgot-password></forgot-password>
    <reset-password></reset-password>
    <app-about-us></app-about-us>
    <app-contact-us></app-contact-us>
    <app-privacy-policy></app-privacy-policy>
    <app-terms-of-use></app-terms-of-use>
    <app-purchase-policy></app-purchase-policy>
    <app-user-registration></app-user-registration>
  </div>
  
  <div style="padding: 10px;"></div>
  <div class="row">
    <div id="footer">
      <ul>
        <li><a href="#">NatnaTicket</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#aboutUsModal">About Us</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#termsOfUseModal">Terms of Use</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#privacyPolicyModal">Privacy Policy</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#purchasePolicyModal">Purchase Policy</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#contactUsModal">Contact Us</a></li>
        <li><a routerLink="/careers">Careers</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        
        <li><a href="#copyright"> copyright @Natna Events Ticketing</a></li>
      </ul>
  </div>
</div>
<!-- Footer Row-->
</div>