<div class="row">
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">NATNA Ticketing</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/sports">Sports</a></li>
                  <li><a href="/concerts">Concerts</a></li>
                  <li><a href="/theaters">Theater</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-backdrop="static" data-toggle="modal" *ngIf="!signedIn" data-target="#signUpModal">Sign in/Register</a></li>
                <li><a href="#" data-backdrop="static" data-toggle="modal" *ngIf="signedIn" data-target="#signUpModal">Sign out</a></li>
              </ul>
          </div>
          <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
  </div>
</div>
<!-- SideBar and Content row-->
<div class="row">
  <!-- SideBar Column -->
    <div class="col-sm-2">
      <ul class="nav sidebar-nav">
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#myTicketsModal">My Tickets</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#myListingModal">My Listings</a></li>
        <li class="nav-divider"></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#accountSettingsModal">Account Setting</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#paymentOptionModal">Payment Options</a></li>
        <li class="nav-divider"></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#associateApprovalModal">Associates Approval</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#eventOwnerApprovalModal">Event Owner Approval</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#eventApprovalModal">Event Approval</a></li>
      </ul>
    </div>
  <!-- Content Column-->
  <div class="col-lg-10">
    <div class="row search-box">
        <form class="form-group" #searchCriteria="ngForm" (ngSubmit)="searchEvents(searchCriteria.value)">
          <div class="col-lg-3">
            <input type="text" class="form-control" name="searchText" placeholder="Search..." ngModel>
          </div>
          <div class="col-lg-2">
            <select id="selectedCity" name="selectedCity" class="form-control" ngModel>
              <option value="all" selected>All Cities</option>
              <option value="alamata">Alamata</option>
              <option value="adigrat">Adigrat</option>
              <option value="maichew">Maichew</option>
            </select> 
          </div>
          <div class="col-lg-2">
            <select id="event" name="eventType" class="form-control" ngModel>
              <option value="all" selected>All events</option>
              <option value="sports">Sports</option>
              <option value="concerts">Concerts</option>
              <option value="theatres">Theater</option>
          </select>
        </div>
        <div class="col-lg-2">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name="eventDate" ngModel/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="col-lg-1">
          <button type="submit" class="btn btn-info form-control">Search</button>
        </div>
        </form>
    </div>
  <div class="row">
    <router-outlet style="text-align: center;"></router-outlet>
    <service-signup></service-signup>
    <event-ticket></event-ticket>
    <event-mylisting></event-mylisting>
    <event-payment-option></event-payment-option>
    <event-associate-approval></event-associate-approval>
    <event-owner-approval></event-owner-approval>
    <event-approval></event-approval>
    <event-registration></event-registration>
    <account-settings></account-settings>
    <forgot-password></forgot-password>
    <reset-password></reset-password>
    <app-about-us></app-about-us>
    <app-contact-us></app-contact-us>
    <app-privacy-policy></app-privacy-policy>
    <app-terms-of-use></app-terms-of-use>
    <app-purchase-policy></app-purchase-policy>
    
   
  </div>
  <div style="padding: 10px;"></div>
  <div class="row">
    <div id="footer">
      <ul>
        <li><a href="#">NatnaTicket</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#aboutUsModal">About Us</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#termsOfUseModal">Terms of Use</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#privacyPolicyModal">Privacy Policy</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#purchasePolicyModal">Purchase Policy</a></li>
        <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#contactUsModal">Contact Us</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/faq">FAQ</a></li>
        
        <li><a href="#copyright"> copyright @Natna Events Ticketing</a></li>
      </ul>
  </div>
</div>
<!-- Footer Row-->
</div>