<!-- Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ticket</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="account-setting-box">
        
           <h4> <strong>Event Title:</strong>  Football- Adigrat vs Shire </h4>
            <hr>
            <h4><strong>Event Date:</strong>  May 25, 2012 9:00 PM ET</h4>
            <hr>
           <h4><strong>Ticket Number:</strong> 123456789</h4>
            <hr>
            <h4><strong>Ticket Category:</strong> VIP</h4>
         </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
