<!-- Modal -->
<div class="modal fade" id="associateReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header modal-header-color">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Associate Review</h4>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Business Name</th>
                <th scope="col">documents provided</th>
                <th scope="col">Requires Additional docs</th>
                <th scope="col">Approve</th>
                <th scope="col">Reject</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark ICT</td>
                <td>documents...</td>
                <td><a href="#">Decument Required</a></td>
                <td><a href="#">Approve</a></td>
                <td><a href="#">Reject</a>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary" data-dismiss="modal">sign In</button>-->
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>