<div class="row" style="text-align: center;letter-spacing: 15px;"><h3>Account Overview</h3></div>
<div class="jumbotron">
    <h2>Sell your Tickets on NatnaEvents</h2>
    <blockquote>
        <p class="lead text-success">The safest way to sell your Tickets.</p>
    </blockquote>
    <hr class="my-4">
    <p>Sell your tickets in a safe and simple way, and instantly reach millions of fans.
    If you decide to sell your ticket in NatnaTickets for the first time, it would take from 24 to 48 hours to start your tikcet selling</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-backdrop="static" data-target="#eventRegistration" role="button">Sell Your Tickets</a>
    </p>
    <p class="lead" *ngIf="signedIndRole == 'ADMIN'">
        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-backdrop="static" data-target="#eventRegistration" role="button">Create Event</a>
    </p>

    <!-- <div class="row" style="text-align: center;letter-spacing: 5px;"><h4>Events we think you love</h4></div>
    <div style="padding: 10px;"></div>
    <div class="row">
        <div *ngFor = " let event of eventsYouMayLike; index as i" class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <img src="{{ event.imagePath}}" class="event-image"
                        alt="Sport image here">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {{ event.name }}
                </div>
                <div class="col-lg-6">
                    {{ event.date}}
                </div>
            </div>
        </div>
    </div>
  </div> -->