<!-- Modal -->
<div class="modal fade" id="associateApprovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Associate Approval Review</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Business Name</th>
              <th scope="col">Location</th>
              <th scope="col">primary contact phone</th>
              <th scope="col">Review</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark ICT</td>
              <td>Mekelle</td>
              <td>+251-911-405060</td>
              <td><a href="#" data-toggle="modal" data-dismiss="modal" data-target="#associateReviewModal">Review</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">sign In</button>-->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>